#populateButton{
    height: 50px;
    width: 100px;
    background-color: black;
    color:white;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 6px #999;
}

#populateButton:hover{
    background-color: #282828;
}

#populateButton:active{
    background-color: #282828;
    box-shadow: 0 3px #999;
    transform: translateY(3px);
}

.spellContainer{
    border: black 5px solid;
    margin: 10px;
    padding: 10px;
    height: auto;
}

.spellImg{
    /* height: 100px;
    width: 100px; */
    /* overflow: hidden; */
    display: inline-block;

}